<h1><span class="badge badge-secondary badge-pill badge-dark">Sign up</span></h1><br />

<form action="/user/signup" method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" type="text" name="userName" placeholder="name" required /><br>
      <input class="form-control" type="phone" name="userPhone" placeholder="phone" required /><br>

      <input class="form-control" type="mail" name="userEmail" placeholder="email" required /><br>
      <input class="form-control" type="password" name="userPassword" placeholder="password" required /><br>
      <input class="form-control" type="text" name="userLocation" placeholder="adress" required /><br>

      <button type="submit" value="Sign Up" title="Submit form" type="button" class="btn btn btn-dark"><span>Sign
          up</span></button>
    </div>
  </div>
</form>
