<h1><span class="badge badge-secondary badge-pill badge-dark">Регистрация</span><h1>
<form id='signupCourier' method='post' action='/courier/signup'>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control"type='text' name='courierName' placeholder='Введите имя' required><br>
      <input class="form-control"type='text' name='courierphone' placeholder='Введите номер телефона' required><br>
      <input class="form-control"type='text' name='courieremail' placeholder='Введите электронную почту' required><br>
      <input class="form-control"type='password' name='courierpassword' placeholder='Введите пароль' required><br>
      <button type="submit" class="btn btn btn-dark">Зарегистрироваться</button>
    </div>
  </div>
</form>
